@import "vue-select/src/scss/vue-select.scss";

.container {
  @apply max-w-screen-xl;
  @apply m-auto;
}

code {
  @apply bg-white;
  @apply border;
  @apply border-blue-100;
  @apply text-red-500;
  @apply rounded-lg;
  @apply dark:bg-gray-900;
  @apply dark:border-gray-700;
  @apply dark:text-red-500;
  display: inline-block;
  padding: 0 0.33em;
}

.monospace {
  display: inline;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.3;
  position: relative;
  top: -0.1em;
  letter-spacing: -0.075em;
}
